In [3]:
print("Najmul Hossain\nCSE1802014027,14A\nCourse Title: Simulation and Modeling Sessional\nCourse Code: 424")

Najmul Hossain
CSE1802014027,14A
Course Title: Simulation and Modeling Sessional
Course Code: 424

In [4]:
import pandas as pd
dataset = pd.read_csv("dataset.csv")

In [5]:
# to show the last 5 data
dataset.iloc[-5:]

    age  has_facebook_account
15   67                   0.0
16    1                   0.0
17   26                   1.0
18   22                   NaN
19   23                   1.0

In [6]:
# Function to number of colums and rows in the dataset
dataset.shape

(20, 2)

In [7]:
print("Number of missing data of each rows:")
print(dataset.isnull().sum())

Number of missing data of each rows:
age                     0
has_facebook_account    1
dtype: int64

In [8]:
print(dataset)

    age  has_facebook_account
0    24                   1.0
1    21                   1.0
2    10                   0.0
3    58                   1.0
4    16                   0.0
5    56                   0.0
6    28                   1.0
7    13                   0.0
8    18                   1.0
9    17                   1.0
10   80                   0.0
11   12                   0.0
12   44                   1.0
13    6                   0.0
14   25                   1.0
15   67                   0.0
16    1                   0.0
17   26                   1.0
18   22                   NaN
19   23                   1.0

In [25]:
dataset.fillna(1)

    age  has_facebook_account
0    24                   1.0
1    21                   1.0
2    10                   0.0
3    58                   1.0
4    16                   0.0
5    56                   0.0
6    28                   1.0
7    13                   0.0
8    18                   1.0
9    17                   1.0
10   80                   0.0
11   12                   0.0
12   44                   1.0
13    6                   0.0
14   25                   1.0
15   67                   0.0
16    1                   0.0
17   26                   1.0
18   22                   1.0
19   23                   1.0

In [62]:
dataset["is_age_0-17"] = dataset.age.between(0,17)
users_lt_17 = dataset[dataset["is_age_0-17"]==True]
has_account_lt_17 = len(users_lt_17[users_lt_17["has_facebook_account"]==1])
percentage_of_lt_17 = has_account_lt_17 / len(users_lt_17)  * 100
print("The total percentage (%) of Facebook users of age 0-17: ", percentage_of_lt_17, "%")

The total percentage (%) of Facebook users of age 0-17:  14.285714285714285 %

In [52]:
dataset["is_age_18-40"] = dataset.age.between(18, 40)
users_between_18_40 = dataset[dataset["is_age_18-40"]==True]
has_account_between_18_40 = len(users_between_18_40[users_between_18_40["has_facebook_account"] == 1])
percentage_of_between_18_40 = has_account_between_18_40 / len(users_between_18_40) * 100
print("The total percentage (%) of Facebook users of age 18-40: ", percentage_of_between_18_40, "%")

The total percentage (%) of Facebook users of age 18-40:  87.5 %

In [63]:
dataset["is_age_gt_40"] = dataset.age.gt(40)
users_gt_40 = dataset[dataset["is_age_gt_40"] == True]
print(users_gt_40)
has_account_gt_40 = len(users_gt_40[users_gt_40["has_facebook_account"] == 1])
percentage_gt_40 = has_account_gt_40 / len(users_gt_40) * 100
print("The total percentage (%) of Facebook users of age greater than 40: ", percentage_gt_40, "%")

    age  has_facebook_account  is_age_0-17  is_age_18-40  is_age_gt_40
3    58                   1.0        False         False          True
5    56                   0.0        False         False          True
10   80                   0.0        False         False          True
12   44                   1.0        False         False          True
15   67                   0.0        False         False          True
The total percentage (%) of Facebook users of age greater than 40:  40.0 %

In [74]:
import matplotlib.pyplot as plt
%matplotlib inline
x = dataset[['age']]
y = dataset['has_facebook_account']
dataset.has_facebook_account = dataset.has_facebook_account.fillna(1)

In [75]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(x, y, test_size=.30, random_state=1)

In [76]:
xtest

    age
3    58
16    1
6    28
10   80
2    10
14   25

In [77]:
ytest

3     1.0
16    0.0
6     1.0
10    0.0
2     0.0
14    1.0
Name: has_facebook_account, dtype: float64

In [78]:
from sklearn.linear_model import LogisticRegression

In [79]:
model = LogisticRegression()

In [80]:
model.fit(xtrain, ytrain)

LogisticRegression()

In [113]:
customPredict = train_test_split([21,70])
model.predict(customPredict)

array([1., 0.])

In [114]:
model.score(xtest, ytest)

0.5